.admin {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: initial;
  padding: 2rem;
}

.login-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  padding: 1rem;
  height: 4rem;
  font-weight: 700;
  font-size: 34px;
  line-height: 41px;
  color: #fff;
  background: #123094;
  box-shadow: 5px 5px 9px rgba(12, 32, 100, 0.5), -5px -5px 9px rgba(255, 255, 255, 0.1);
  -webkit-appearance: none;
  border-radius: 9px;
  border: none;
}

.login-button :active {
  width: 287px;
  height: 49px;
  background: #123094;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  box-shadow: inset 9px 9px 12px rgba(12, 32, 100, 0.5), inset -9px -9px 12px rgba(47, 76, 173, 0.5);
  -webkit-appearance: none;
  border-radius: 9px;
  padding-left: 5px;
}

.new-game {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4rem;
  width: 16rem;
  height: 4rem;
  font-weight: 700;
  font-size: 26px;
  line-height: 41px;
  color: #fff;
  background: #123094;
  box-shadow: 5px 5px 9px rgba(12, 32, 100, 0.5), -5px -5px 9px rgba(255, 255, 255, 0.1);
  -webkit-appearance: none;
  border-radius: 9px;
  border: none;
}

.game-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  padding: 0.4rem 2rem;
  width: 70%;
  height: 2em;
  font-weight: 600;
  font-size: 20px;
  line-height: 41px;
  color: #fff;
  background: #123094;
  box-shadow: 5px 5px 9px rgba(12, 32, 100, 0.5), -5px -5px 9px rgba(255, 255, 255, 0.1);
  -webkit-appearance: none;
  border-radius: 9px;
  border: none;
}

.game-item-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  font-weight: 600;
  font-size: 16px;
  line-height: 41px;
  width: 100%;

  @media screen and (min-width: 740px) {
    font-size: 20px;
  }

  >div {
    padding-right: 8px;
    margin: -10px 0;
  }

  .game-name {
    white-space: nowrap;
  }
}

.game-modify {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: initial;
  margin-top: 2rem;
  padding: 0.4rem 2rem;
  box-shadow: 5px 5px 9px rgba(12, 32, 100, 0.5), -5px -5px 9px rgba(255, 255, 255, 0.1);
  -webkit-appearance: none;
  border-radius: 9px;
  border: none;
}