.game-editor {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-add-new-fields {
  display: flex;
}

.game-form-row {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.game-form-modify {
  border: 1px solid white;
  border-radius: 40px;
  padding: 20px;
  background-color: #123094;

  .game-form-row {
    flex-direction: row;
    justify-content: center;
  }
}

.game-form-row-remove {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  align-items: center;
}

.game-form-row-content {
  display: flex;
  flex-direction: column;
  margin: 20px;
  justify-content: space-between;
  line-height: 1.8rem;

  @media screen and (min-width: 740px) {
    flex-direction: column;
    align-items: self-end;
  }
}

.game-form-row-content>label {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  margin: 0;

  @media screen and (min-width: 740px) {
    flex-direction: row;
    padding-top: 10px;
  }
}

.game-form-row-content>label>input {
  margin: 0 20px;
  padding: 0 20px;
}

.game-form-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-form-actions :first-child {
  margin-bottom: 1rem;
  display: flex;
}